.div_container{
    display: flex !important;
    gap: 20px !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}


.div_container > div{
    flex:1 !important;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;



}



